### Java/Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
/out/
/bin/

### VS Code ###
.vscode/
*.code-workspace
.history/

### OS Specific ###
.DS_Store
Thumbs.db

### Local Environment ###
.env
*.log